<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/myroutines.js"></script>
</head>

<body>

    <main class="appcontainer">

        <header class="myroutinesheader">
            <h1>My Routines</h1>
        </header>

        <section id="myroutines">
            <div class="myroutines-grid">
                <div class="createdroutineheading">Biceps</div>
                <div class="workoutbox">workout box</div>
                <div class="routine-edit">Edit</div>
                <div class="routine-delete">Delete</div>
            </div>
        </section>

    </main>



</body>


</html>